* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --BgColor: #EEEEEE;
    --DarkColor: #1C1C1D;
    --tblColor: #FCF6F6;
    --hoverDark: #444444;
    --borderTble: #CCCCCC;
    --acceptColor: #00c72e;
    --declineColor: #ff3628;
    --themeColor: #9D7651;
    --HoverthemeColor: #BC8759;
}

body {
    background-color: var(--BgColor);
    overflow-x: hidden;
}


/****Dashboard*****/

.dashboard {
    margin: 6% 1.5% 0 8%;
    padding: 1.5%; 
    display: flex;
    justify-content: space-between;
}

.dashboard-item {
    flex: 1;
    background-color: var(--tblColor);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.dashboard-item-content {
    flex: 1;
}

.dashboard-item h2 {
    font: normal 700 35px/normal 'Poppins';
    color: #1c1c1c;
    margin: 0;
}

.metric-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.trend-indicator {
    font: normal 13px/normal 'Poppins';
    padding: 2px 8px;
    border-radius: 12px;
    font-weight: 500;
    animation: slideIn 0.3s ease-out;
}

.trend-indicator.positive {
    background-color: rgba(34, 197, 94, 0.1);
    color: var(--acceptColor);
}

.trend-indicator.negative {
    background-color: rgba(239, 68, 68, 0.1);
    color: var(--declineColor);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.dashboard-item p {
    font: normal 15px/normal 'Poppins';
    color: var(--hoverDark);
    margin-bottom: 10px;
}

.dashboard-item:hover {
    transform: scale(1.02);
}

.dashboard-item.hovered {
    background-color: var(--hoverDark);
    color: var(--tblColor);
}

.dashboard-item.hovered h2,
.dashboard-item.hovered p {
    color: var(--tblColor) !important;
}

.icon-container-client {
    background-image: linear-gradient(147deg, #BC8759 0%, #77563D 100%);
    border-radius: 5%;
    padding: 15px;
}

.icon-container-chart {
    background-image: linear-gradient(147deg, #BC8759 0%, #77563D 100%);
    border-radius: 5%;
    padding: 15px;
}

.icon-container-rate {
    background-image: linear-gradient(147deg, #BC8759 0%, #77563D 100%);
    border-radius: 5%;
    padding: 15px;
}

.icon-container-client i {
    margin-left: auto;
}

.dashboard-bottom {
    margin: 0% 1.5% 0 8%;
    padding: 1% 2% 0% 1.8%; 
    display: flex;
    justify-content: space-between;
}

.pendings {
    flex: 1 1 calc(47.666% - 10px);
    background-color: var(--tblColor);
    border-radius: 10px;
    height: 47vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0px 20px 0px 5px;
}

.pendings h4 {
    font: normal 600 15px/normal 'Poppins';
    margin: 10px;
}

.tbl-prod {
    flex: 1 1 calc(33.333% - 10px);
    background-color: var(--tblColor);
    padding: 0px 0px 50px 0px;
    height: 47vh;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-bar {
    background-color: var(--hoverDark);
    color: var(--tblColor);
    padding: 5px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.tbl-prod h4 {
    font: normal 600 152px/normal 'Poppins';
    margin: 10px;
}

.prod-table {
    width: 100%;
    border-collapse: collapse;
    font: normal 15px/normal 'Poppins';
}

.prod-table th,
.prod-table td {
    border-bottom: 1px solid var(--tblColor);
}

.prod-table .td-name {
    padding: 0px;
    text-align: start;
    color: #1C1C1D;
    font: normal 500 15px/normal 'Poppins';
}

.prod-table .td-name span {
    font: normal 400 11px/normal 'Poppins';
    color: #929292;
}

.prod-table tbody tr:hover {
    background-color: #e3e3e3;
    transition: all .3s ease;
}

.table-container {
    height: 38vh;
    overflow-y: auto;
}

.pending-container {
    height: 39vh;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

.table-container::-webkit-scrollbar-track {
    background-color: #FCF6F6;
}


/*****Booking & Client*****/

.container-admin {
    padding: 10px 0px 20px 0px;
    margin: 8% 0% 2% 10%;
    border-radius: 5px;
    background-color: var(--tblColor);
    height: 70%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 87%;
}

.container-bottom {
    margin: 0% 1.5% 0 8%;
    padding: 1% 2% 0% 1.8%; 
    display: flex;
    justify-content: space-between;
}

.tbl-admin{
    flex: 1 1 calc(47.666% - 10px);
    background-color: var(--tblColor);
    border-radius: 10px;
    height: 47vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0px 20px 0px 5px;
}

.tbl-admin1 {
    flex: 1 1 calc(33.333% - 10px);
    background-color: var(--tblColor); 
    padding: 0px 0px 50px 0px;
    height: 47vh;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-bar {
    background-color: var(--hoverDark);
    color: var(--tblColor);
    padding: 15px;
    border-radius: 10px 10px 0 0;
    font: normal 600 15px/normal 'Poppins';
}

.accept-decline-form {
    display: inline-block;
}

.accept{
    background-color: var(--acceptColor);
    border-radius: 10px;
    font: normal 11px/normal 'Poppins';
    height: 5%;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.accept:hover {
    background-color: #00861f;
    transition: 0.4s;
}

.decline {
    background-color: var(--declineColor);
    border-radius: 10px;
    font: normal 11px/normal 'Poppins';
    height: 5%;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.decline:hover {
    background-color: rgb(172, 3, 0);
    transition: 0.4s;
}

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.pending-circle {
    background-color: gray;
}

.accepted-circle {
    background-color: var(--acceptColor);
}

.declined-circle {
    background-color: var(--declineColor);
}

.top-book {
    display: flex;
    justify-content: space-between;
    margin: 15px 18px;
}

.top-book h4 {
    font: normal 600 18px/normal 'Poppins';
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.sort {
    margin: 20px 0px 5px 10px;
}

.tab {
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
    border-radius: 5px;
}

.tab.active {
    color: #be9d2d;
}

.tab:hover {
    background-color: #dcdcdc;
}

.date-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.date-filter select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.no-bookings-message {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666;
    font-style: italic;
}

#year-select,
#month-select {
    padding: 4px 15px;
    border: 1px solid #FCF6F6;
    ;
    border-radius: 5px;
    box-sizing: border-box;
    font: normal 400 13px/normal 'Poppins';
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

#unavailability-btn {
    padding: 7px 15px;
    background: linear-gradient(147deg, #BC8759 0%, #77563D 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 20px 10px 0px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#unavailability-btn:hover {
    background: linear-gradient(147deg, #c8864c 0%, #7c5334 100%);
}

.btn-admin {
    padding: 7px 15px;
    background: linear-gradient(147deg, #BC8759 0%, #77563D 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn-admin:hover {
    background: linear-gradient(147deg, #c8864c 0%, #7c5334 100%);
}

#download-btn {
    border: 2px solid var(--themeColor);
    color: var(--themeColor);
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 600 13px/normal 'Poppins';
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: var(--BgColor);
}

.send-sms {
    border: 2px solid var(--themeColor);
    color: var(--themeColor);
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 600 13px/normal 'Poppins';
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: var(--BgColor);
}

.search-bar #booking-search {
    width: 80%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 13px;
    color: #1C1C1D;
    background: transparent;
    transition: border-color 0.2s;
}

.search-bar #booking-search::placeholder {
    color: #9b9b9b;
    font: normal 13px/normal 'Poppins';
}

.search-bar #booking-search:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #C2BE63, #c0b71a);
    border-image-slice: 1;
    font: normal 13px/normal 'Poppins';
}

.search-bar button {
    margin-top: 7%;
}


/***Table Style***/

.header-table {
    border-collapse: collapse;
    width: 100%;
    font: normal 13px/normal 'Poppins';
}

.tbl-container {
    height: 55vh;
    overflow-y: auto;
    overflow-x: auto;
}

.header-table thead th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: left;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.header-table tbody td {
    text-align: left;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.tbl-container::-webkit-scrollbar {
    width: 8px;
}

.tbl-container::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

.tbl-container::-webkit-scrollbar-track {
    background-color: #FCF6F6;
}

th,
td {
    text-align: left;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 2;
}

td form button[name="delete"] {
    background-color: var(--declineColor);
    border-radius: 6px;
    font: normal 11px/normal 'Poppins';
    height: 5%;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

td form button[name="delete"]:hover {
    background-color: rgb(172, 3, 0);
    transition: 0.4s;
}

.delete-admin {
    background-color: var(--declineColor);
    border-radius: 6px;
    font: normal 11px/normal 'Poppins';
    height: 5%;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.delete-admin:hover {
    background-color: rgb(172, 3, 0);
    transition: 0.4s;
}

td .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.assign-btn {
    padding: 5px;
    border-radius: 100px;
    background-color: transparent;
    color: var(--hoverDark);
    border: 1px solid var(--DarkColor);
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.assign-btn:hover {
    background-color: #e1e1e1;
}

#recommendedStaff h4{
    font: normal 500 18px/normal 'Poppins';
}

.recommended-staff{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
}

.staff-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    width: 15vw;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.staff-card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid var(--borderTble)
}

.staff-name{
    font: normal 600 15px/normal 'Poppins';
}

.staff-role{
    font: normal 400 12px/normal 'Poppins';
    color: var(--hoverDark);
}

.form-staff h2{
    font: normal 500 20px/normal 'Poppins';
    text-align: center;
    margin: 10px 0;
}

.staff-profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.staff-profile-placeholder {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.popup-admin {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    background: var(--BgColor);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    z-index: 1000;
    box-shadow: 0px 0px 400px 900px rgba(0, 0, 0, 0.28);
    z-index: 10000;
}

.popup-admin h3 {
    font: normal 500 25px/normal 'Poppins';
    margin-bottom: 10px;
}

.select-wrapper select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--BgColor);
    border: 2px solid var(--themeColor);
    color: var(--themeColor);
    border-radius: 6px;
    cursor: pointer;
    font: normal 400 14px / normal 'Poppins';
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: var(--themeColor);
    color: var(--tblColor);
}

.staff-profiles {
    display: flex;
    flex-direction: row;
    max-width: 200px;
}

.staff-profile {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.staff-profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--DarkColor);
}


/*****Admin Calendar*****/

.calendar {
    margin: 3% 0 0 14%;
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.event_management {
    background: #FCF6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    position: relative;
}

#calendar {
    border: 1px solid #ccc;
    height: 82.2vh;
    font: normal 600 16px/normal 'Poppins';
    flex-grow: 1;
}

.add-schedule-button {
    background-color: #E1DE8F;
    font: normal 500 15px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 30px;
    top: 41px;
    display: block;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.add-schedule-button:hover {
    background-color: #C2BE63;
}

.fc-day-header {
    background-color: #E1DE8F;
}

.fc-left {
    text-align: center;
}

.fc-right {
    position: absolute;
    right: 55px;
}

.fc-day .fc-widget-content td.fc-today {
    background: #fbdf54;
}

#calendar .fc-view {
    padding: 0;
    margin: 0;
    height: 97.5vh;
}

#calendar .fc-body {
    padding: 0;
    margin: 0;
}

#calendar .fc-row {
    margin: 0;
}

#calendar .fc-widget-content {
    padding: 0;
    margin: 0;
}

#calendar .fc-content {
    height: 15px;
    font: normal 500 11px/normal 'Poppins';
    color: #FCF6F6;
}

#calendar td.fc-today {
    background-color: #f6f3ab;
}

.modal-content {
    display: none;
    position: fixed;
    top: 35%;
    left: 53%;
    height: 54%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        top: -50%;
    }
    to {
        top: 35%;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

#receiptModal {
    display: none;
    position: fixed;
    top: 35%;
    left: 55%;
    height: 54%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        top: -40%;
    }
    to {
        top: 35%;
    }
}

.modal-receipt {
    padding: 30px;
    box-shadow: 0px 0px 400px 900px rgba(0, 0, 0, 0.28);
    width: 80%;
    max-width: 600px;
    background: var(--BgColor);
}

@keyframes slideIn {
    from {
        top: -50%;
    }
    to {
        top: 35%;
    }
}

.modal-receipt h2 {
    font: normal 600 20px/normal 'Poppins';
}

.receipt-image-container {
    margin-top: 20px;
    text-align: center;
}

.receipt-image-container img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border: 1px solid var(--DarkColor);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font: normal 500 15px/normal 'Poppins';
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #FCF6F6;
    ;
    border-radius: 5px;
    box-sizing: border-box;
    font: normal 400 13px/normal 'Poppins';
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group input[type="reason"]:focus {
    outline-color: #807f7f;
}

.modal-content form h3 {
    font: normal 500 23px/normal 'Poppins';
    margin-bottom: 15px;
}

.form-group#displayPic {
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 10px;
}

#displayPic {
    display: flex;
    justify-content: center;
}

#selectedImage {
    max-width: 300%;
    width: 55%;
}

.form-decline select {
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 1px solid #FCF6F6;
    border-radius: 5px;
    box-sizing: border-box;
    font: normal 400 13px/normal 'Poppins';
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.form-decline {
    margin-bottom: 15px;
}

.form-decline label {
    display: block;
    margin-bottom: 15px;
    font: normal 500 17px/normal 'Poppins';
}

.btn-save-event {
    background-color: #E1DE8F;
    color: #1c1c1c;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font: normal 500 14px/normal 'Poppins';
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btn-save-event:hover {
    background-color: #C2BE63;
}


/***dark-mode calendar**/

body.dark-mode .event_management {
    background-color: #444444;
}

body.dark-mode #calendar .fc-day-header {
    color: #1C1C1D;
}

body.dark-mode #calendar td.fc-today {
    color: #1c1c1c;
}


/******end****/


/******Feedback******/

.feedbox {
    padding: 0px 0px 20px 0px;
    margin: 9% 0% 0% 18.5%;
    border-radius: 10px;
    background-color: #FCF6F6;
    height: 75%;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 77%;
}

.header-feedback {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.header-feedback th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
    text-align: start;
    margin-left: 20px;
    font: normal 600 15px/normal 'Poppins';
    border-radius: 10px;
}

.data-table td.feedback-description {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 1.5% 3% 1% 7.8%;
    color: #959595;
    font: normal 13px/normal 'Poppins';
    text-align: start;
}

.data-table td.feedback-title {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 1.5% 0% 1% 2.5%;
    width: 10%;
    font: normal 500 14px/normal 'Poppins';
    text-align: start;
}

.data-table tr:hover {
    background-color: #eaeaea;
}

.data-table td input[type='checkbox'] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.data-container p {
    font: normal 400 13px/normal 'Poppins';
    margin: 2%;
}


/*******confirmation******/

.popup {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 400px 900px rgba(0, 0, 0, 0.28);
    z-index: 10000;
}

.popup-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content p {
    font: normal 600 18px/18px 'Poppins';
    color: #1C1C1D;
    margin-bottom: 5%;
}

button#deleteNo {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    color: #1c1c1c;
    font: normal 400 14px/15px 'Poppins';
    cursor: pointer;
    background: #DADADA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 200ms linear;
}

button#deleteNo:hover {
    background: #9b9b9b;
}

button#deleteYes {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #FF8787;
    border-radius: 8px;
    color: #1c1c1c;
    font: normal 400 14px/15px 'Poppins';
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 200ms linear;
}

button#deleteYes:hover {
    background: #D25A5A;
}

button#acceptYes {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #FF8787;
    border-radius: 8px;
    color: #1c1c1c;
    font: normal 400 14px/15px 'Poppins';
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 200ms linear;
}

button#acceptYes:hover {
    background: #D25A5A;
}

button#acceptNo {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    color: #1c1c1c;
    font: normal 400 14px/15px 'Poppins';
    cursor: pointer;
    background: #DADADA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 200ms linear;
}

button#acceptNo:hover {
    background: #9b9b9b;
}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 400px 900px rgba(0, 0, 0, 0.28);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    /* Add a semi-transparent white background */
}

.loading-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 7px solid #E1DE8F;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.success-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
    animation: fadeIn 0.3s ease-out;
    box-shadow: 0px 0px 400px 900px rgba(0, 0, 0, 0.28);
    z-index: 10000;
}

.success-popup .icon {
    font-size: 55px;
    color: var(--acceptColor);
    margin-bottom: 20px;
}

.success-popup .message {
    color: #333;
    margin-bottom: 20px;
    font: normal 400 14px/15px 'Poppins';
}

.success-popup .ok-btn {
    background: var(--HoverthemeColor);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 400 14px/15px 'Poppins';
    transition: background 0.3s;
}

.success-popup .ok-btn:hover {
    background: var(--themeColor);
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/**details feedback***/

.feedbox-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    margin: 8.7% 0% 0% 18.5%;
    border-radius: 5px;
    background-color: #FCF6F6;
    height: 75vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 77%;
}

.feedback-details {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user_profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info h5 {
    font: normal 600 16px/normal 'Poppins';
    color: #1c1c1c;
}

.info p {
    font: normal 500 13px/normal 'Poppins';
    color: #1c1c1c;
}

.middle {
    display: flex;
    width: 100%;
    margin-top: 2%;
}

.select_photo {
    width: 30%;
    flex: 1;
    padding: 10px 0px 0px 30px;
    box-sizing: border-box;
}

.select_photo img {
    max-width: 100%;
}

.right {
    flex: 1;
    padding: 10px 0px 0px 10px;
    box-sizing: border-box;
}

.title {
    font: normal 600 17px/normal 'Poppins';
    width: 85%;
    height: 59px;
    flex-shrink: 0;
    margin: 0 0 0 12%;
}

.rate {
    height: 10%;
    flex-shrink: 0;
    margin: 12% 0 0 40%;
}

.stars {
    font-size: 24px;
}

.star {
    color: gold;
    cursor: pointer;
}

.description {
    font: normal 400 14px/normal 'Poppins';
    text-align: center;
    line-height: 20px;
    width: 70%;
    height: 59px;
    flex-shrink: 0;
    text-align: center;
    margin: 0px 0px 25% 15%;
    line-height: 30px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 35%;
}

.buttons #postedButton {
    margin-left: 30px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #c4bd3d;
    color: #fff;
    cursor: pointer;
    font: normal 500 13px/normal 'Poppins';
}

.buttons #postedButton:hover {
    background-color: #c0b71a;
}

.buttons #backButton {
    margin-left: 10px;
    padding: 8px 23px;
    border: none;
    border-radius: 10px;
    background-color: #c6c6c6;
    border: none;
    color: #1c1c1c;
    cursor: pointer;
    font: normal 500 13px/normal 'Poppins';
    transition: background-color 0.3s ease-in-out;
}

.buttons #backButton:hover {
    background-color: #8f8f8f;
}


/*****end*****/


/******Admin Account*******/

.account {
    margin: 5% 0% 0% 8%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.account-management {
    border-radius: 14px;
    border: 1px solid #BCB4B5;
    background: #FCF6F6;
    width: 100%;
    height: 80vh;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile img {
    width: 30%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.left-column {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;
}

.right {
    width: 50%;
}

form .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.vertical {
    width: 1px;
    height: 100%;
    background-color: #BCB4B5;
    margin: 2% 5% 0 0;
}

form .profile-section label input[type="file"] {
    display: none;
}

form .profile-section label {
    color: #4285F4;
    cursor: pointer;
    font: normal 600 16px/normal 'Poppins';
}

form .profile-section p {
    color: #747473;
    font: normal 500 13px/normal 'Poppins';
}

.fillup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.two-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 17px;
}

.two-columns>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fillup label {
    font: normal 500 13px/normal 'Poppins';
    margin-bottom: 5px;
}

.fillup input {
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    border: 1px solid #BCB4B5;
    padding: 10px;
    box-sizing: border-box;
    background: #FCF6F6;
    font: normal 400 13px/normal 'Poppins';
    margin-bottom: 3%;
}

.fillup input:focus {
    outline-color: #807f7f;
}

.save-changes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0 1% 0;
    width: 100%;
    height: 65px;
}

.save-changes input[type="submit"] {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background: #C2BE63;
    cursor: pointer;
    font: normal 500 14px/normal 'Poppins';
    transition: background-color 0.3s ease-in-out;
}

.save-changes input[type="submit"]:hover {
    background-color: #c4bd3d;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
}

.reset-button input[type="reset"] {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-color: #aeaeae;
    border: none;
    color: #1c1c1c;
    cursor: pointer;
    font: normal 500 14px/normal 'Poppins';
    transition: background-color 0.3s ease-in-out;
}

.reset-button input[type="reset"]:hover {
    background-color: #8f8f8f;
}


/********analytics*******/
.layout-admin {
    margin: 8% 0% 0% 10%;
    height: 70%;
    width: 87%;
}

.top-analytics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.analytics-item {
    flex: 1;
    background-color: var(--hoverDark);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.analytics-item-content {
    flex: 1;
}

.analytics-item h2 {
    font: normal 700 28px/normal 'Poppins';
    color: var(--tblColor);
    margin: 0; 
}

.analytics-item p {
    font: normal 12px/normal 'Poppins';
    color: var(--tblColor);
    margin-bottom: 10px;
}

.expense-info, .revenue-info {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

<<<<<<< HEAD
.left-analytics {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.container-items{
    display: flex;
    flex-direction: row;
    width: 43vw;
}

.total-bookings {
    width: 100%;
    background-color: var(--tblColor);
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--tblColor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 35vh;
}

.services-bar-graph {
    width: 48%;
    background-color: var(--tblColor);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--tblColor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 52vh;
}

.total-bookings table {
    width: 100%;
    border-collapse: collapse;
}

.total-bookings th, .total-bookings td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.client-pie-chart {
    width: 47.5%;
    background-color: var(--tblColor);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--tblColor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#servicesBarGraph , #clientPieChart{
    max-height: 280px;
}
/******Finance********/

.finance {
    margin: 5% 0 0 14%;
    padding: 1.8% 3% 0% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid-fin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-finance {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.top {
    display: flex;
    flex-direction: row;
    width: 102%;
    margin-bottom: 15px;
}

.fin-box {
    padding: 20px 20px 50px 20px;
    margin: 0 5% 2.3% 0;
    background: rgb(50, 50, 50);
    background: linear-gradient(318deg, rgba(50, 50, 50, 1) 0%, rgba(28, 28, 29, 1) 45%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 52%;
    border-radius: 5%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s ease;
}

.fin-box:hover {
    transform: scale(1.01);
}

.fin-box h4 {
    font: normal 700 35px/normal 'Poppins';
    color: #C2BE63;
    display: flex;
    margin-top: 5%;
}

.fin-box p {
    font: normal 400 15px/normal 'Poppins';
    color: #FBF4F4;
}

.bottom {
    padding: 1% 2% 0 0;
    display: flex;
    justify-content: space-between;
}

.projects {
    margin-bottom: 2.3%;
    background-color: #FCF6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 99%;
    height: 36vh;
    padding: 20px 0px 50px 0px;
}

.projects h4 {
    font: normal 700 14px/normal 'Poppins';
    color: #1c1c1c;
    text-align: start;
    margin: 0 0 1% 3%;
}

.right-finance {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.reports {
    padding-top: 20px;
    margin: 0% 5% 2.3% 3%;
    background-color: #FBF4F4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: 2%;
    height: 75.8vh;
}

.reports h4 {
    font: normal 700 14px/normal 'Poppins';
    color: #1c1c1c;
    text-align: start;
    margin: 0 0 1% 3%;
}

.reports button:hover {
    background-color: #454548;
    color: #fcfcfc;
}

.bot-button button {
    background-color: #1C1C1D;
    font: normal 500 12px/normal 'Poppins';
    color: #FBF4F4;
    border: none;
    border-radius: 6%;
    padding: 4px 20px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 5%;
}

.bot-button {
    display: flex;
    justify-content: center;
}

.packages h4 {
    font: normal 600 16px/normal 'Poppins';
    color: #1c1c1c;
    text-align: start;
    margin-left: 2%;
}

.pack-box {
    padding: 20px 0px 50px 0px;
    margin: 1% 5% 2.3% 0%;
    background-color: #FBF4F4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 101.2%;
    height: 70vh;
    border-radius: 10px;
}

.pack-box .top {
    display: flex;
    justify-content: space-between;
}

.pack-box .add-button {
    background-color: #E1DE8F;
    font: normal 500 13px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin-right: 5%;
}

.pack-box .add-button:hover {
    background-color: #C2BE63;
}

.expenses {
    margin: 5% 0 0 14%;
    padding: 1.8% 3% 0% 3%;
    display: flex;
    flex-direction: column;
}

.exp-box {
    border-radius: 10px;
}

.exp-box .add-button {
    background-color: #E1DE8F;
    font: normal 500 13px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 10px 20px;
}

.exp-box .add-button:hover {
    background-color: #C2BE63;
}

.exp-box .search-bar {
    margin: -2.8% 0px 0px 68%;
    position: absolute;
}

.search-bar #search {
    width: 70%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #1C1C1D;
    background: transparent;
    transition: border-color 0.2s;
}

.search-bar #search::placeholder {
    color: #9b9b9b;
    font: normal 13px/normal 'Poppins';
}

.search-bar #search:focus {
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #C2BE63, #c0b71a);
    border-image-slice: 1;
    font: normal 15px/normal 'Poppins';
}

.search-bar button {
    margin-top: 7%;
}

.form-group input#amount-exp {
    font: normal 500 13px/normal 'Poppins';
    margin-right: 3px;
}

td form button[name="edit"] {
    background-color: #17A1FA;
    border-radius: 6px;
    font: normal 11px/normal 'Poppins';
    height: 5%;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

td form button[name="edit"]:hover {
    background-color: rgb(0, 62, 120);
    transition: 0.4s;
}

.edit-admin {
    background-color: #17A1FA;
    border-radius: 6px;
    font: normal 11px/normal 'Poppins';
    height: 5%;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.edit-admin:hover {
    background-color: rgb(0, 62, 120);
    transition: 0.4s;
}


/*****production****/

.prod-box {
    padding: 20px 0px 50px 0px;
}

.prod-box .add-button {
    background-color: #E1DE8F;
    font: normal 500 13px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 10px 20px;
}

.prod-box .add-button:hover {
    background-color: #C2BE63;
}

.prod-box .search-bar {
    margin: -2.8% 0px 0px 68%;
    position: absolute;
}


/*****content*****/

.content {
    padding: 0px 0px 20px 0px;
    margin: 9% 0% 0% 18.5%;
    border-radius: 5px;
    background-color: #FCF6F6;
    height: 75%;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 77%;
}

.content-box h4 {
    font: normal 600 16px/normal 'Poppins';
    color: #1c1c1c;
    text-align: start;
    margin-left: 2%;
}

.content-box .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}

.content-box .add-button {
    background-color: #E1DE8F;
    font: normal 500 13px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin-right: 5%;
}

.content-box .add-button:hover {
    background-color: #C2BE63;
}


/******Gallery Folders********/

.folders {
    padding: 0px 0px 20px 0px;
    margin: 9% 0% 0% 18.5%;
    border-radius: 5px;
    background-color: #FCF6F6;
    height: 75%;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 77%;
}

.folder-box h4 {
    font: normal 600 16px/normal 'Poppins';
    color: #1c1c1c;
    text-align: start;
    margin-left: 2%;
}

.folder-box .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}

.folder-box .add-button {
    background-color: #E1DE8F;
    font: normal 500 13px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin-right: 5%;
}

.folder-box .add-button:hover {
    background-color: #C2BE63;
}

.folder-body {
    display: flex;
    padding: 20px 0px 0px 50px;
    cursor: pointer;
}

.folder-body i {
    color: #C2BE63;
    font-size: 120px;
}

.folder-body p {
    font: normal 500 13px/normal 'Poppins';
    color: #1c1c1c;
}

body.dark-mode .folders {
    background-color: #444444;
}

body.dark-mode .folder-box h4 {
    color: #FCF6F6;
}

body.dark-mode .folder-body p {
    color: #FCF6F6;
}


/*****Gallery****/

.gallery {
    padding: 0px 0px 20px 0px;
    margin: 9% 0% 0% 18.5%;
    border-radius: 10px;
    background-color: #FCF6F6;
    height: 75%;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 77%;
}

body.dark-mode .gallery {
    background-color: #1c1c1c;
}

.gallery h4 {
    font: normal 600 16px/normal 'Poppins';
    color: #1c1c1c;
    text-align: center;
    margin-left: 2%;
}