 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 
 :root {
    --BgColor: #EEEEEE;
    --DarkColor: #1C1C1D;
    --hoverDark: #444444;
    --hoverLight: #CCCCCC;
    --themeColor: #9D7651;
    --HoverthemeColor: #BC8759;
    --fontLight: #fcfcf6;
    --line-border-fill: #1C1C1D;
    --line-border-empty: #e0e0e0;
    --linkColor: #0000FF;
}

 body {
     background-color: #EFEFEF;
     overflow-x: hidden;
 }
 
 .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coverpage {
    width: 100%;
}

.cover-content {
    position: relative;
    width: 100%;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 730px;
}

.carousel img {
    width: 100%;
    height: 100%;
    display: none;
    filter: brightness(50%);
    object-fit: cover;
}

.carousel img:first-child {
    display: block;
}

.carousel-page-numbers {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 15%;
    left: 90%;
    color: #FBF4F4;
}

.nav{
    width: 0;
    height: 0;
}

.page-number-text {
    font: normal 13px/normal 'Poppins';
    letter-spacing: 5px;
}

.page-number span {
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px;
    color: #d6d6d6;
}

.page-number.active {
    color: #fbfbfb;
    font-weight: bold;
}

.horizontal-line {
    width: 90.5%;
    height: 2.5px;
    background-color: #ccc;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 4.5%;
}

.cover-title {
    position: absolute;
    top: 28%;
    left: 24%;
    text-align: center;
    width: 55%;
    color: var(--fontLight);
    z-index: 1;
}

.cover-title h2 {
    font: normal 700 clamp(2em, 5vw, 3.2em)/normal 'Poppins';
    letter-spacing: 3px;
}

.cover-title p {
    font: normal 20px/normal 'Poppins';
    letter-spacing: 3px;
    margin-top: 20px;
}

.text-header {
    text-align: start;
    left: 10%;
    top: 17%;
    position: absolute;
}

.text-header h2 {
    font: normal 700 60px/normal 'Poppins';
    letter-spacing: 1px;
}

.text-header p {
    font: normal 15px/normal 'Poppins';
    color: var(--hoverDark);
}


/******Content feed*******/


.fillup-book {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: translate(0%, -20%);
    background-color: #fbfbfb;
    width: 80vw;
    padding: 20px;
}

.service-book {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fbfbfb;
    width: 80vw;
    padding: 20px;
    margin-bottom: 60px;
}

.payment-book {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fbfbfb;
    width: 80vw;
    padding: 20px;
    margin-bottom: 60px;
}


.form-book {
    width: 100%;
}

.top-book {
    display: flex;
    justify-content: space-between;
}

.top-book h3 {
    font: normal 600 18px/normal 'Poppins';
    margin-top: 10px;
}

.steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 30%;
}

.step1, .step2, .step3 {
    flex: 1;
    text-align: center;
    position: relative;
    font: normal 400 12px/normal 'Poppins';
}

.progress-line {
    position: absolute;
    top: 15px;
    left: calc(-50% + 15px);
    right: calc(50% + 15px);
    height: 4px;
    background-color: var(--line-border-empty);
    transition: background-color 0.5s ease-in-out;
}

.step1 .progress-line {
    left: 50%;
    width: 100%;
    z-index: 2;
}

.step3 .progress-line {
    right: 50%;
    width: 100%;
    z-index: 2;
}

.progress-line.active {
    background-color: var(--line-border-fill);
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.circle h4 {
    margin: 0;
    font-size: 14px;
    color: #e0e0e0;
    font: normal 600 18px/normal 'Poppins';

}

.circle.active {
    border-color: var(--line-border-fill);
    background-color: var(--line-border-fill);
}

.circle.active h4 {
    font: normal 600 18px/normal 'Poppins';
    color: var(--fontLight);

}

.circle.current {
    background-color: var(--line-border-fill);
}

.circle.current h4 {
    color: var(--line-border-empty);
    font: normal 600 18px/normal 'Poppins';
}

.step1 .progress-line.active,
.step2 .progress-line.active {
    background-color: var(--line-border-fill);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-info, .right-info {
    flex: 1;
    min-width: 250px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font: normal 500 14px/normal 'Poppins';
}

.form-group input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    font: normal 400 12px/normal 'Poppins';
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    left: 10px;
    top: 36%;
    transform: translateY(-50%);
    color: var(--hoverDark);
}

.input-with-icon input,
.input-with-icon select {
    padding-left: 35px;
}

.time {
    display: flex;
    gap: 30px;
}

.time-input {
    flex: 5;
}

.start ,.end {
    width: 100%;
    font: normal 400 12px/normal 'Poppins';
}


.info {
    width: 100%;
}

.buttons-book {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttons-book #next {
    background-image: linear-gradient(147deg, #BC8759 0%, #77563D 100%);
    color: var(--fontLight);
    border: none;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 600 13px/normal 'Poppins';
    transition: all .6s ease;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
}

.buttons-book #next:hover {
    background-color: var(--HoverthemeColor);
    transform: scale(1.02);
}

.buttons-book #next.disabled {
    background-color: var(--themeColor); 
    cursor: not-allowed;
    pointer-events: none; 
    opacity: 0.5; 
}

.buttons-book #prev {
    margin-left: 10px;
    font: normal 600 13px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #aeaeae;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.buttons-book #prev:hover {
    background-color: #8f8f8f;
}

.view-more-button{
    background-color: var(--themeColor);
    color: var(--fontLight);
    border: none;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 600 13px/normal 'Poppins';
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
}

.view-more-button:hover {
    background-color: var(--HoverthemeColor);
}


.flatpickr-months, 
.flatpickr-weekdays {
    background-color: var(--themeColor) !important;
    color: var(--fontLight) !important;
}

.flatpickr-prev-month span,
.flatpickr-next-month span{
    color: var(--fontLight) !important;
}

.flatpickr-prev-month:hover, 
.flatpickr-next-month:hover {
    background-color: var(--hoverLight)!important; /* Optional hover effect for arrows */
    border-radius: 50% !important;
    color: var(--fontLight) !important;
}

.flatpickr-current-month {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: var(--fontLight) !important;
    font: normal 600 16px/normal 'Poppins' !important;
}

.flatpickr-weekdays span {
    color: white !important;
    font-weight: 500 !important;
    padding: 10px !important;
    text-transform: uppercase !important;
    font: normal 500 12px/normal 'Poppins' !important;
}

.flatpickr-day {
    font: normal 500 12px/normal 'Poppins' !important;
    color: var(--DarkColor) !important;
    border-radius: 50% !important;
    padding: 10px 0 !important;
}

.flatpickr-day:hover {
    background-color: var(--hoverLight) !important;
    color: var(--fontLight) !important;
}

.flatpickr-day.today {
    background-color: var(--themeColor) !important;
    color: var(--fontLight) !important;
}

.flatpickr-day.selected {
    border: 2px solid var(--themeColor) !important;
    color: var(--DarkColor) !important;
    background-color: var(--BgColor) !important;
}

.flatpickr-disabled {
    color: gray !important;
    cursor: not-allowed !important;         
    opacity: 0.5 !important; 
}

  

/****booking-status***/

.booking-status {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(0%, -5%);
    width: 80vw;
}

.status-tabs {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.status-tab {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font: normal 500 15px/normal 'Poppins' ;
    color: var(--DarkColor);
    transition: all 0.3s ease;
}

.status-tab.active {
    border-bottom: 3px solid var(--HoverthemeColor);
    color: var(--HoverthemeColor);
}

.status-panel {
    display: none;
}

.status-panel h3{
    font: normal 700 35px/normal 'Poppins';
}

.status-panel p{
    font: normal 500 13px/normal 'Poppins' ;
    color: var(--hoverLight);
}

.status-panel.active {
    display: block;
}

.event-container{
    height: 55vh;
    overflow-y: auto;
    margin-top: 25px;
}

.event-container::-webkit-scrollbar {
    width: 8px;
    margin-left: 5px;
}

.event-container::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

.event-container::-webkit-scrollbar-track {
    background-color: #FCF6F6;
}

.event-card {
    display: flex;
    border-top: 2px solid var(--line-border-fill);
    overflow: hidden;
    margin-bottom: 20px;
}

.event-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.event-details {
    padding: 10px;
    flex-grow: 1;
}

.event-details h5 {
    margin: 0 0 10px 0;
    font: normal 600 23px/normal 'Poppins' ;
    color: var(--HoverthemeColor);
}

.event-container h6{
    text-align: center;
    font: normal 500 12px/normal 'Poppins' ;
    color: var(--DarkColor);

}

.event-details p {
    margin: 5px 0;
    font: normal 500 13px/normal 'Poppins' ;
    color: var(--DarkColor);
}

.event-details i {
    margin-right: 5px;
    color: var(--DarkColor);
}


/*****Cart****/
.cart-section{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(0%, -5%);
    width: 80vw;
}

/*****Services******/

.container {
    display: flex;
    height: 35vh;
}

.container::-webkit-scrollbar {
    width: 15px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

.container::-webkit-scrollbar-track {
    background-color: #FCF6F6;
}

.service-section {
    margin: 0 10px;
}

.price h3{
    font: normal 600 18px / normal 'poppins';
}

.budget-input{
    margin: 10px 0;
}

.budget-input label{
    font: normal 600 14px / normal 'poppins';
}

.budget-input input{
    font: normal 400 13px / normal 'poppins';
    border-radius: 5px;
    padding: 5px;
}

#recommendedServices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    height: 55vh;
    overflow-y: auto;
}

#recommendedServices::-webkit-scrollbar {
    width: 15px;
}

#recommendedServices::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

#recommendedServices::-webkit-scrollbar-track {
    background-color: #FCF6F6;
}

.recommended-container{
    margin-left: 50%;
}

@-webkit-keyframes scaling-dots {
    0%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    40%, 60% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  @keyframes scaling-dots {
    0%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    40%, 60% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading-container p{
    font: normal 500 15px / normal 'poppins';
}

.scaling-dots {
    display: grid;
    height: 10px;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 10px);
    margin-bottom: 10px; 
}
.scaling-dots div {
    -webkit-animation: scaling-dots 1s infinite ease backwards;
            animation: scaling-dots 1s infinite ease backwards;
    background: var(--HoverthemeColor);
    border-radius: 100%;
    height: 10px;
    width: 10px;
}
.scaling-dots div:nth-child(1) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .scaling-dots div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .scaling-dots div:nth-child(3) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .scaling-dots div:nth-child(4) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .scaling-dots div:nth-child(5) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }

 .title-service{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--line-border-empty);
    width: 22%;
    padding: 8px;
}

.title-service h4{
    margin: 0 10px;
    color: var(--themeColor);
    font: normal 500 15px/normal 'Poppins';
}

.title-service i{
    font-size: 20px;
    color: var(--themeColor);

}
.service-card {
    width: 30%; 
    border: 2px solid #BCB4B5;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transform: translate 0.3, box-shadow 0.3s;
}

.service-card.selected {
    border: 4px solid var(--HoverthemeColor); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.service-image {
    position: relative; 
}

.service-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
}

.service-name-overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: var(--fontLight);
    margin: 0 10px;
}

.service-name-overlay h3{
    font: normal 500 25px/normal 'Alfa Slab One';
}

.service-price-box {
    background-color: var(--themeColor);
    padding: 15px;
    color: var(--fontLight);
    border-radius: 0px 25px 0px 0px;
    width: 55%;
    margin-top: 5px;
}

.service-price-box span{
    font: normal 400 25px/normal 'Paprika';
}

.service-content {
    padding: 20px;
    background-color: #fff;
}

.service-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.service-price span {
    display: block;
    font-size: 36px;
    color: var(--themeColor);
    font-weight: bold;
    margin-top: 10px;
}

.service-inclusions {
    margin-top: 15px;
    text-align: left;
}

.service-inclusions p {
    font-weight: bold;
    color: #333;
}

.service-inclusions ul {
    list-style-type: none;
    padding-left: 0;
}

.service-inclusions ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.service-inclusions ul li::before {
    content: "•"; 
    color: var(--HoverthemeColor);
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
}

.price h2{
    color: var(--themeColor);
    font: normal 500 20px/normal 'Poppins';
}
.add-services{
    display: flex;
    justify-content: space-around;
    
}

.add-services .column{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.add-services label{
    border: 1px solid;
    padding: 10px;
    font: normal 500 15px / normal 'Poppins';
}

.buttons-book h1{
    font: normal 400 25px/normal 'Roboto';
    margin-right: 10px;
}

.buttons-book span{
    color: var(--HoverthemeColor);
    margin-left: 10px;
}


/*****Payment****/
.payment-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.edit{
    border: 2px solid var(--themeColor);
    color: var(--themeColor);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 600 13px/normal 'Poppins';
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: var(--BgColor);
}

.cart{
    background-color: var(--themeColor);
    color: var(--fontLight);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 600 13px/normal 'Poppins';
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left-details, .right-details{
    border: 1px solid var(--line-border-empty);
    width: 100%;
    margin: 15px 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);

}

.right-details ul li{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.left-details{
    margin-right: 20px;
}


.booking-header h3 {
    font: normal 600 20px/normal 'Poppins';
    margin: 0 0 20px 0;
}

.booking-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.summary {
    display: flex;
    flex-direction: column;
}

.header-summary {
    border: 1px solid var(--line-border-empty);
    margin-bottom: 20px;
    padding: 10px 0;
}

.header-summary h4{
    font: normal 600 15px/normal 'Poppins';
    margin-left: 10px;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 10px;
}

.detail-item h6{
    font: normal 600 15px/normal 'Poppins';

}

.detail-item .label {
    color: var(--hoverDark);
    min-width: 90px;
    font: normal 500 13px/normal 'Poppins';
}

.detail-item select{
    width: 97%;
    padding: 10px;
    border: 1px solid var(--line-border-empty);
    font: normal 400 12px / normal 'Poppins';
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.detail-item ul p{
    font: normal 500 13px/normal 'Poppins';
}

.detail-item .service-name{
    font: normal 600 15px / normal 'Poppins';
}

.detail-item .service-price{
    font: normal 500 18px / normal 'Poppins';
    margin-right: 15px;
    color: var(--HoverthemeColor);
}

.subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#total-cost{
    color: var(--HoverthemeColor);
    font: normal 500 18px / normal 'Roboto';
    margin-right: 20px;
}

.subtotal h4{
    margin-left: 10px; 
    font: normal 500 17px / normal 'Roboto';
}

.payment-grid{
    display: grid;
    gap: 15px;
}

.payment-section {
    display: flex;
    gap: 30px;
    border: 1px solid var(--line-border-empty);
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.qr-code {
    flex: 0 0 350px;
    text-align: center;
    padding: 30px 130px;
}

.qr-code img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.qr-code p {
    margin: 5px 0;
    font: normal 500 14px / normal 'Poppins';
    color: var(--hoverDark);
}

.payment-instructions {
    flex: 1;
    border: 1px solid var(--line-border-empty);
    border-radius: 0 5px 0 5px;
}

.payment-instructions h4 {
    font: normal 600 17px / normal 'Roboto';
    margin: 5px 0 15px 5px;
    color: var(--DarkColor);
}

.instruction {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--line-border-empty);
}

.step-pay {
    margin: 8px 10px;
    font: normal 400 14px / normal 'Roboto';
    color: var(--DarkColor);
}

.step-pay span {
    font: normal 600 14px/normal 'Roboto';
}

.payment-form {
    margin: 20px 12px 15px 12px;
}

.payment-form label {
    display: block;
    font: normal 600 14px/normal 'poppins';
    margin-bottom: 8px;
    color: var(--DarkColor);
}

.upload-field {
    display: flex;
    gap: 10px;
}

.upload-field input[type="text"] {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.browse-btn {
    padding: 8px 20px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.reference-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.security-note {
    margin-top: 20px;
    font: normal 400 12px / normal 'Poppins';
    color: var(--hoverDark);
    margin-left: 10px;
}

#pending-payment {
    color: red;
    margin-left: 10px;
    font: normal 400 12px / normal 'Poppins';
}

.policy-section {
    margin-bottom: 20px;
    font: normal 400 15px / normal 'Poppins';
    border: 1px solid var(--line-border-empty);
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
}

.policy-section a , .policy p a {
    color: var(--linkColor);
    text-decoration: none;
}

.policy-section a:hover {
    text-decoration: underline;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--BgColor);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.popup-buttons button {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-buttons button:first-child {
    background: var(--HoverthemeColor);
    color:var(--fontLight);
}

.popup-buttons button:last-child {
    background: var(--BgColor);
    color: var();
}

.cart-item {
    display: flex;
    gap: 20px;
    border-top: 3px solid var(--line-border-empty);
    margin-bottom: 20px;
}

.cart-image {
    width: 150px;
    height: 150px;
    background: #f5f5f5;
}

.cart-details {
    flex: 1;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.cart-title h3 {
    margin: 0;
    color: var(--themeColor);
    font: normal 600 25px / normal 'Poppins';
}

.cart-status {
    color: var(--DarkColor);
    font: normal 500 12px / normal 'Poppins';
}

.cart-booking-details {
    margin-bottom: 10px;
}

.cart-booking-details p {
    margin: 5px 0;
    color: var(--DarkColor);
    font: normal 400 12px / normal 'Poppins';
}

.cart-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cart-actions button {
    padding: 5px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pay-now-btn {
    background: var(--HoverthemeColor);
    color: var(--fontLight);
    font: normal 400 12px / normal 'Poppins';
}

.timer {
    color: var(--DarkColor);
    font: normal 500 12px / normal 'Poppins';
}



/***CTA banner homepage****/

.call-to-attention {
    width: 100%;
}

.banner-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-image img {
    width: 100vw;
    height: 540px;
    filter: brightness(50%);
}

.banner-content {
    position: absolute;
    align-items: center;
}

.banner-inner-content h1 {
    font: normal 400 100px/normal 'Qwigley';
    color: #FBF4F4;
    padding-top: 100px;
}

.banner-inner-content {
    align-items: center;
    align-content: center;
}

.CTA-button button {
    margin-top: 20px;
    margin-left: 39%;
    padding: 10px 0;
    height: 50%;
    width: 25%;
    font: normal 400 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    background-color: #FBF4F4;
    border-radius: 30px;
}

.CTA-button a button {
    border-radius: 25px;
    border: 1px solid #000;
    background: #1C1C1D;
    font: normal 400 15px/normal 'Poppins';
    color: #FCF6F6;
}

.CTA-button a button:hover {
    background-color: #454548;
    color: #fcfcfc;
}


/**** arrow up button****/

.going-back {
    width: 100%;
}

.arrow-up-button {
    position: fixed;
    bottom: 70px;
    right: 25px;
    background-color: #ccc;
    /* Gray background */
    border: none;
    cursor: pointer;
}

.back-to-top {
    border: 1px solid #000;
    background: #1C1C1D;
    border: none;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #000;
}

.arrow-up-button .back-to-top i {
    color: #fff;
    /* White color for the arrow icon */
    font-weight: 1100;
    font-size: 20px;
    /* Adjusted weight for the arrow icon */
}

.back-to-top:hover {
    background-color: #454548;
    color: #fcfcfc;
}

.back-to-top-hidden {
    display: none;
}


/****** Footer *******/

.footer-page {
    width: 100%;
    background-color: #FBF4F4;
    padding: 50px 10px 50px 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 90px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    width: 33%;
    padding: 15px 60px 0px 60px;
}

.footer-left-link {
    margin-top: 20px;
}

.footer-left-link li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-left-link li a {
    text-decoration: none;
    color: #1C1C1D;
    font: normal 500 14px/normal 'Poppins';
    line-height: 30px;
}

.footer-left-link li a:hover {
    color: #C2BE63;
}

.footer-left-link a:hover {
    color: #C2BE63;
    transition: all 0.3s;
}

.footer-center-content {
    padding: 30px 50px 50px 50px;
}

.vertical-line-left {
    border-left: 2px solid #000;
    height: 250px;
}

.footer-center h6 {
    font: normal 700 18px/normal 'Poppins';
    margin: 0px 20px 15px 265px;
}

.footer-center p {
    font: normal 700 18px/normal 'Poppins';
    color: #1C1C1D;
    font-family: Poppins;
    font: normal 15px/normal 'Poppins';
    width: 90%;
    flex-shrink: 0;
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 0px 0px 10px 40px;
}

.social-meadia-links h6 {
    font: normal 600 18px/normal 'Poppins';
    margin: 25px 0px 0px 285px;
}

.social-meadia-links .icons {
    display: flex;
    gap: 15px;
    cursor: pointer;
    margin: 10px 0px 0px 290px;
}

.social-meadia-links .icons a i {
    color: #1C1C1D;
    font-size: 140%;
    font-weight: bold;
}

.social-meadia-links .icons a i:hover {
    color: #454548;
}

.vertical-line-right {
    border-left: 2px solid #000;
    height: 250px;
}

.footer-logo {
    margin: 70px 50px 20px 60px;
}

.footer-logo img {
    width: 220px;
    height: 110px;
}

.container-credential {
    width: 100%;
    background-color: #1C1C1D;
}

.rights-definition {
    padding: 15px;
}

.rights-definition p {
    font: normal 14px/normal 'Poppins';
    color: #ccc;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* This will create 4 equal columns */
    grid-gap: 10px;
}

.grid-item {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.featured-project {
    grid-column: 1 / -1;
}

