 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 
 :root {
    --BgColor: #EEEEEE;
    --DarkColor: #1C1C1D;
    --hoverDark: #444444;
    --hoverLight: #CCCCCC;
    --themeColor: #9D7651;
    --HoverthemeColor: #BC8759;
    --fontLight: #fcfcf6;
    --line-border-fill: #1C1C1D;
    --line-border-empty: #e0e0e0;
}

 body {
     background-color: #EFEFEF;
     overflow-x: hidden;
 }
 
 .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coverpage {
    width: 100%;
}

.cover-content {
    position: relative;
    width: 100%;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 730px;
}

.carousel img {
    width: 100%;
    height: 100%;
    display: none;
    filter: brightness(50%);
    object-fit: cover;
}

.carousel img:first-child {
    display: block;
}

.carousel-page-numbers {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 15%;
    left: 90%;
    color: #FBF4F4;
}

.page-number-text {
    font: normal 13px/normal 'Poppins';
    letter-spacing: 5px;
}

.page-number span {
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px;
    color: #d6d6d6;
}

.page-number.active {
    color: #fbfbfb;
    font-weight: bold;
}

.horizontal-line {
    width: 90.5%;
    height: 2.5px;
    background-color: #ccc;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 4.5%;
}

.cover-title {
    position: absolute;
    top: 28%;
    left: 24%;
    text-align: center;
    width: 55%;
    color: var(--fontLight);
    z-index: 1;
}

.cover-title h2 {
    font: normal 700 clamp(2em, 5vw, 3.2em)/normal 'Poppins';
    letter-spacing: 3px;
}

.cover-title p {
    font: normal 20px/normal 'Poppins';
    letter-spacing: 3px;
    margin-top: 20px;
}

.text-header {
    text-align: start;
    left: 10%;
    top: 17%;
    position: absolute;
}

.text-header h2 {
    font: normal 700 60px/normal 'Poppins';
    letter-spacing: 1px;
}

.text-header p {
    font: normal 15px/normal 'Poppins';
    color: var(--hoverDark);
}


/******Content feed*******/

.booking-feed {
    position: relative; 
    height: 150vh;
}

.fillup-book {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: translate(0%, -30%);
    background-color: #fbfbfb;
    width: 80vw;
    padding: 20px;
}

.service-book {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fbfbfb;
    width: 80vw;
    padding: 20px;
}

.form-book {
    width: 100%;
}

.top-book {
    display: flex;
    justify-content: space-between;
}

.top-book h3 {
    font: normal 600 18px/normal 'Poppins';
    margin-top: 10px;
}

.steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 30%;
}

.step1, .step2, .step3 {
    flex: 1;
    text-align: center;
    position: relative;
    font: normal 400 12px/normal 'Poppins';
}

.progress-line {
    position: absolute;
    top: 15px;
    left: calc(-50% + 15px);
    right: calc(50% + 15px);
    height: 4px;
    background-color: var(--line-border-empty);
    transition: background-color 0.5s ease-in-out;
}

.step1 .progress-line {
    left: 50%;
    width: 100%;
    z-index: 2;
}

.step3 .progress-line {
    right: 50%;
    width: 100%;
    z-index: 2;
}

.progress-line.active {
    background-color: var(--line-border-fill);
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.circle h4 {
    margin: 0;
    font-size: 14px;
    color: #e0e0e0;
    font: normal 600 18px/normal 'Poppins';

}

.circle.active {
    border-color: var(--line-border-fill);
    background-color: var(--line-border-fill);
}

.circle.active h4 {
    font: normal 600 18px/normal 'Poppins';
    color: var(--fontLight);

}

.circle.current {
    background-color: var(--line-border-fill);
}

.circle.current h4 {
    color: var(--line-border-empty);
    font: normal 600 18px/normal 'Poppins';
}

.step1 .progress-line.active,
.step2 .progress-line.active {
    background-color: var(--line-border-fill);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-info, .right-info {
    flex: 1;
    min-width: 250px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font: normal 500 14px/normal 'Poppins';
}

.form-group input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    font: normal 400 12px/normal 'Poppins';
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    left: 10px;
    top: 36%;
    transform: translateY(-50%);
    color: var(--hoverDark);
}

.input-with-icon input,
.input-with-icon select {
    padding-left: 35px;
}

.time {
    display: flex;
    gap: 30px;
}

.time-input {
    flex: 5;
}

.start ,.end {
    width: 100%;
    font: normal 400 12px/normal 'Poppins';
}


.info {
    width: 100%;
}

.buttons-book {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttons-book #next {
    background-color: var(--themeColor);
    color: var(--fontLight);
    border: none;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 600 13px/normal 'Poppins';
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
}

.buttons-book #next:hover {
    background-color: var(--HoverthemeColor);
}

.buttons-book #prev {
    margin-left: 10px;
    font: normal 600 13px/normal 'Poppins';
    color: #1c1c1c;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #aeaeae;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.buttons-book #prev:hover {
    background-color: #8f8f8f;
}

.mf {
    position: absolute;
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 80vw;
    height: 50%;
    flex-direction: row;
    gap: 20px;
}




/***calendar****/
.calendar-section{
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 40%;
    height: 100%;
    flex: 1;
}

.calendar-section .top{
    display: flex;
    align-items: center;
    padding: 20px 20px 10px;
    justify-content: space-between;
    font: normal 16px/normal 'Poppins';
}
  .top .icons-calendar{
    display: flex;
  }
  .top .icons-calendar i{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #1C1C1D;
    text-align: center;
    line-height: 38px;
    font-size: 1.5rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons-calendar i:last-child{
    margin-right: -10px;
  }
  .top .icons-calendar i:hover{
    background: #f2f2f2;
  }
  .top .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 0;
    
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    cursor: default;
    background-color: #BC8759;
    color: #EFEFEF;
    font: normal 600 14px/normal 'Poppins';
    height: 20%;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    font: normal 500 13px/normal 'Poppins';
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #BC8759;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }

/****pf***/

.pf{
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70%;
    height: 100%;
    flex: 2;
}

/***Table Style***/ 
.header-table {
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
    font: normal 13px/normal 'Poppins';
}

.data-table-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 35vh;
}
.data-table-container::-webkit-scrollbar {
    width: 8px;
}

.data-table-container::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

.data-table-container::-webkit-scrollbar-track {
    background-color: #FCF6F6;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

 th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
}

 th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

 td {
    font: normal 13px/normal 'Poppins';
}

.table-booking .title-bar {
    background-color: #444444;
    color: #FCF6F6;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font: normal 600 15px/normal 'Poppins';
}

.search-bar {
    margin: -3.4% 0px 0px 80%; 
    position: absolute;
}

.search-bar #client-search {
    width: 70%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #1C1C1D;
    background: transparent;
    transition: border-color 0.2s;
}
.search-bar #client-search::placeholder {
    color: #9b9b9b;
    font: normal 13px/normal 'Poppins';
}

.search-bar #client-search:focus{
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #C2BE63, #c0b71a);
  border-image-slice: 1;
  font: normal 15px/normal 'Poppins';
}
.search-bar button{
    margin-top: 7%;
}

/***CTA banner homepage****/

.call-to-attention {
    width: 100%;
}

.banner-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-image img {
    width: 100vw;
    height: 540px;
    filter: brightness(50%);
}

.banner-content {
    position: absolute;
    align-items: center;
}

.banner-inner-content h1 {
    font: normal 400 100px/normal 'Qwigley';
    color: #FBF4F4;
    padding-top: 100px;
}

.banner-inner-content {
    align-items: center;
    align-content: center;
}

.CTA-button button {
    margin-top: 20px;
    margin-left: 39%;
    padding: 10px 0;
    height: 50%;
    width: 25%;
    font: normal 400 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    background-color: #FBF4F4;
    border-radius: 30px;
}

.CTA-button a button {
    border-radius: 25px;
    border: 1px solid #000;
    background: #1C1C1D;
    font: normal 400 15px/normal 'Poppins';
    color: #FCF6F6;
}

.CTA-button a button:hover {
    background-color: #454548;
    color: #fcfcfc;
}


/**** arrow up button****/

.going-back {
    width: 100%;
}

.arrow-up-button {
    position: fixed;
    bottom: 70px;
    right: 25px;
    background-color: #ccc;
    /* Gray background */
    border: none;
    cursor: pointer;
}

.back-to-top {
    border: 1px solid #000;
    background: #1C1C1D;
    border: none;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #000;
}

.arrow-up-button .back-to-top i {
    color: #fff;
    /* White color for the arrow icon */
    font-weight: 1100;
    font-size: 20px;
    /* Adjusted weight for the arrow icon */
}

.back-to-top:hover {
    background-color: #454548;
    color: #fcfcfc;
}

.back-to-top-hidden {
    display: none;
}


/****** Footer *******/

.footer-page {
    width: 100%;
    background-color: #FBF4F4;
    padding: 50px 10px 50px 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 90px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    width: 33%;
    padding: 15px 60px 0px 60px;
}

.footer-left-link {
    margin-top: 20px;
}

.footer-left-link li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-left-link li a {
    text-decoration: none;
    color: #1C1C1D;
    font: normal 500 14px/normal 'Poppins';
    line-height: 30px;
}

.footer-left-link li a:hover {
    color: #C2BE63;
}

.footer-left-link a:hover {
    color: #C2BE63;
    transition: all 0.3s;
}

.footer-center-content {
    padding: 30px 50px 50px 50px;
}

.vertical-line-left {
    border-left: 2px solid #000;
    height: 250px;
}

.footer-center h6 {
    font: normal 700 18px/normal 'Poppins';
    margin: 0px 20px 15px 265px;
}

.footer-center p {
    font: normal 700 18px/normal 'Poppins';
    color: #1C1C1D;
    font-family: Poppins;
    font: normal 15px/normal 'Poppins';
    width: 90%;
    flex-shrink: 0;
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 0px 0px 10px 40px;
}

.social-meadia-links h6 {
    font: normal 600 18px/normal 'Poppins';
    margin: 25px 0px 0px 285px;
}

.social-meadia-links .icons {
    display: flex;
    gap: 15px;
    cursor: pointer;
    margin: 10px 0px 0px 290px;
}

.social-meadia-links .icons a i {
    color: #1C1C1D;
    font-size: 140%;
    font-weight: bold;
}

.social-meadia-links .icons a i:hover {
    color: #454548;
}

.vertical-line-right {
    border-left: 2px solid #000;
    height: 250px;
}

.footer-logo {
    margin: 70px 50px 20px 60px;
}

.footer-logo img {
    width: 220px;
    height: 110px;
}

.container-credential {
    width: 100%;
    background-color: #1C1C1D;
}

.rights-definition {
    padding: 15px;
}

.rights-definition p {
    font: normal 14px/normal 'Poppins';
    color: #ccc;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* This will create 4 equal columns */
    grid-gap: 10px;
}

.grid-item {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.featured-project {
    grid-column: 1 / -1;
    /* This will make the "Featured Projects" item span across all columns */
}





/*****Services******/
/* Layout for the recommended services */
#recommendedServices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

 .title-service{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--line-border-empty);
    width: 50%;
}

.title-service h4{
    font: normal 16px/normal 'Poppins';
    color: var(--themeColor);
}

.service-card {
    width: 30%; /* Three columns layout */
    border: 2px solid #BCB4B5;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.service-card.selected {
    border: 5px solid var(--HoverthemeColor); 
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.service-image {
    position: relative; /* Enable positioning inside this element */
}

.service-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
}

/* Style for the service name overlay */
.service-name-overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: var(--fontLight);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0;
}

.service-name-overlay h3{
    font: normal 700 30px/normal 'Alfa Slab One';
}

/* Style for the price box */
.service-price-box {
    background-color: var(--themeColor);
    padding: 15px;
    color: var(--fontLight);
    border-radius: 0px 25px 0px 0px;
    width: 55%;
    margin-top: 5px;
}

.service-price-box span{
    font: normal 400 30px/normal 'Paprika';
}

.service-content {
    padding: 20px;
    background-color: #fff;
}

.service-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.service-price span {
    display: block;
    font-size: 36px;
    color: var(--themeColor);
    font-weight: bold;
    margin-top: 10px;
}

.service-inclusions {
    margin-top: 15px;
    text-align: left;
}

.service-inclusions p {
    font-weight: bold;
    color: #333;
}

.service-inclusions ul {
    list-style-type: none;
    padding-left: 0;
}

.service-inclusions ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.service-inclusions ul li::before {
    content: "•"; /* Custom bullet point */
    color: var(--HoverthemeColor);
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
}