* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coverpage {
    width: 100%;
}

.cover-content {
    position: relative;
    width: 100%;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 730px;
}

.carousel img {
    width: 100%;
    height: 100%;
    display: none;
    filter: brightness(50%);
    object-fit: cover;
}

.carousel img:first-child {
    display: block;
}

.carousel-page-numbers {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 15%;
    left: 90%;
    color: #FBF4F4;
}

.page-number-text {
    font: normal 13px/normal 'Poppins';
    letter-spacing: 5px;
}

.page-number span {
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px;
    color: #d6d6d6;
}

.page-number.active {
    color: #fbfbfb;
    font-weight: bold;
}

.horizontal-line {
    width: 80%;
    height: 2.5px;
    background-color: #ccc;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 4.5%;
}



.text {
    position: absolute;
    top: 28%;
    left: 24%;
    text-align: center;
    width: 55%;
    color: white;
    z-index: 1;
}

.text h2 {
    font: normal 700 clamp(2em, 5vw, 3.2em)/normal 'Poppins';
    letter-spacing: 3px;
}

.text p {
    font: normal 20px/normal 'Poppins';
    letter-spacing: 3px;
    margin-top: 20px;
}

.btn-cover {
    width: 100px;
    margin-top: 30px;
    height: 40px;
    width: 15%;
    left: 95vw;
    font: normal 500 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: inline-block;
    cursor: pointer;
    background-color: #FBF4F4;
    border-radius: 25px;
    padding: 3px 17px;
    transition: background-color 0.3s;
    color: #1c1c1c;
    border: none;
}

.btn-cover:hover {
    background-color: #454548;
    color: #fcfcfc;
}


.modal {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 9999;
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        top: -50%; 
    }
    to {
        top: 55%; 
    }
}

.modal-content {
    background: #FCF6F6;
    margin: 10% auto;
    padding: 50px;
    box-shadow: 0px 0px 400px 900px rgba(0,0,0,0.4);
    width: 30%;
    height: 50%;
}

.modal-content h2{
    text-align: center;
    font: normal 600 25px/normal 'Poppins';
}

.modal-content .fa-xmark {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .fa-xmark:hover::before,
  .modal-content .fa-xmark:hover::after {
    width: 100%;
  }

  .modal-content .fa-xmark:hover::before {
    left: 0;
  }

  .modal-content .fa-xmark:hover::after {
    left: 100%;
  }

  .modal-content .fa-xmark:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

.form-fillup {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 80%;
}

.form-fillup input[type="text"] , [type="password"]{
	width: 100%;
	height: 6vh;
	border-radius: 10px;
	border: 1px solid #BCB4B5;
	background: #FCF6F6;
	padding: 3%;
	font: normal 500 12px/normal 'Poppins';	
	outline: none;
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
    margin-top: 5%;
}
.form-fillup input::placeholder{ 
	color: #747473;
	font: normal 500 12px/normal 'Poppins';
}

.form-fillup a{
	font: normal 500 13px/normal 'Poppins';
	text-decoration: none;
	color: #1C1C1D;
    margin-top: 3%;
}

.form-fillup button{
	border-radius: 25px;
	border: 1px solid #000;
	background: #1C1C1D;
	width: 100%;
	height: 6vh;
	font: normal 500 13px/normal 'Poppins';
	color: #FCF6F6;
    margin-top: 3%;
}

.modal-content p {
    text-align: center;
    font: normal 500 13px/normal 'Poppins';
	text-decoration: none;
	color: #1C1C1D;
}
.modal-content p span{
    font: normal 700 13px/normal 'Poppins';
    text-decoration: underline;
    cursor: pointer;
}
/**** Portfolio Section *****/

.portfolio .portfolio-title .horizontal-line1 {
    position: absolute;
    width: 30%;
    height: 3px;
    background: black;
    left: 70px;
}

.portfolio .portfolio-title .horizontal-line2 {
    position: absolute;
    width: 30%;
    height: 3px;
    background: black;
    left: 65%;
}

.portfolio {
    width: 100%;
    background-color: #FBF4F4;
    padding: 70px 0px 50px 0px;
    text-align: center;
}

.portfolio .portfolio-title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portfolio .portfolio-title h2 {
    font: normal 700 27px/normal 'Poppins';
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    top: 107%;
}

.portfolio .box-section {
    width: 100%;
    height: 30%;
    background: #FBF4F4;
    padding: 40px 120px 35px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio .box1 {
    background: #454548;
    width: 25%;
    height: 65vh;
    margin-left: 80px;
}

.portfolio .box2 {
    background: #393e46;
    width: 25%;
    height: 65vh;
    margin-left: 80px;
}

.portfolio .box3 {
    background: #454548;
    width: 25%;
    height: 65vh;
    margin-left: 80px;
}

.portfolio .box1 .box4 {
    background: white;
    width: 100%;
    height: 65vh;
    margin-left: -10px;
    margin-top: -9px;
}

.portfolio .box2 .box5 {
    background: white;
    width: 100%;
    height: 65vh;
    margin-left: -9px;
    margin-top: -9px;
}

.portfolio .box3 .box6 {
    background: white;
    width: 100%;
    height: 65vh;
    margin-left: -10px;
    margin-top: -9px;
}

.box4 .portfolio-content1 img {
    width: 85%;
    height: 46vh;
    margin: 30px 10px 30px 10px;
    filter: brightness(85%);
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.box5 .portfolio-content2 img {
    width: 84%;
    height: 46vh;
    margin: 30px 10px 30px 10px;
    filter: brightness(85%);
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.box6 .portfolio-content3 img {
    width: 85%;
    height: 46vh;
    margin: 30px 10px 30px 10px;
    filter: brightness(85%);
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.portfolio-content1:hover img,
.portfolio-content2:hover img,
.portfolio-content3:hover img {
    opacity: .7;
}

.box-section .box4 .portfolio-content1 h2 {
    font: normal 20px/normal 'Poppins';
}

.box5 .portfolio-content2 h2 {
    font: normal 20px/normal 'Poppins';
}

.box6 .portfolio-content3 h2 {
    font: normal 20px/normal 'Poppins';
}




/**** Services Price Section *****/

.services {
    width: 100%;
    background-color: #D9D9D9;
    padding: 50px 0px 25px 0px;
    text-align: start;
    margin-bottom: 29px;
    align-items: center;
}

.services .services-title h2 {
    font: normal 700 25px/normal 'Poppins';
    letter-spacing: 1px;
    margin-left: 8%;
}

.services .services-title h6 {
    font: normal 17px/normal 'Poppins';
    letter-spacing: 1px;
    text-align: left;
    width: 70%;
    margin-left: 8%;
    margin-top: 10px;
}

.services .services-box-section {
    display: grid;
    gap: 1px;
    margin: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.services .service-box {
    background: #FCF6F6;
    width: 70%;
    height: 60vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s ease;
}

.services .service-box:hover {
    transform: scale(1.02);
}

.services .package-name {
    text-align: center;
    height: 1px;
}

.services .package-name h6 {
    text-align: center;
    font: normal 700 22px/normal 'Poppins';
    margin-bottom: 5px;
}

.services .package-name p {
    text-align: center;
    font: normal 500 14px/normal 'Poppins';
    height: 2%;
}

.services .price {
    text-align: center;
    height: 5px;
}

.services .price h2 {
    text-align: center;
    font: normal 700 40px/normal 'Poppins';
    margin-top: 10px;
}

.services .feature {
    height: 5px;
    list-style: none;
}

.services .feature h4 {
    font: normal 600 15px/normal 'Poppins';
    margin-top: 30px;
}

.services .price-details .top,
.bottom {
    display: flex;
    margin: 10px 0px 5px 0px;
}

.services .price-details .top i,
.bottom i {
    color: green;
    margin-right: 5%;
    font-size: 20px;
}

.services .price-details .top p,
.bottom p {
    font: normal 400 15px/normal 'Poppins';
}

.services button {
    left: 60%;
}

.services .button-services-section {
    margin: 30px 0px 30px 670px;
    padding: 5px 0px 5px 0px;
    height: 40px;
    width: 10%;
    font: normal 400 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
    border: none;
    background-color: #FBF4F4;
    border-radius: 30px;
}

.services .button-services-section:hover {
    background-color: #454548;
    color: #fcfcfc;
}


/**** Review Page ****/

.review {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.review-part {
    display: flex;
    width: 100%;
}

.review-left {
    width: 30%;
    flex: 1;
    padding: 10px 0px 0px 30px;
    box-sizing: border-box;
}

.review-left img {
    width: 80%;
    height: 85vh;
    max-width: 100%;
    display: block;
    margin-left: 100px;
}

.review-right {
    flex: 1;
    padding: 50px 0px 0px 10px;
    box-sizing: border-box;
}

.review .review-right .testimonial h5 {
    color: #1C1C1D;
    font: normal 500 23px/normal 'Poppins';
    width: 232px;
    height: 59px;
    flex-shrink: 0;
}

.review .review-right .testimonial h4 {
    color: #1C1C1D;
    font-size: 35px;
    width: 85%;
    height: 59px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.review .review-right .testimonial p {
    color: #1C1C1D;
    font-family: Poppins;
    font: normal 15px/normal 'Poppins';
    width: 90%;
    height: 59px;
    margin-top: 35px;
    flex-shrink: 0;
    text-align: justify;
    margin: 60px 0px 0px 10px;
    line-height: 30px;
}

.review .testimonial-arrow {
    margin: 200px 0px 0px 12px;
    font-size: 70px;
}

.review .testimonial-arrow i {
    font-weight: 50px;
    font-size: 20px;
}


/****** About Section ******/

.about {
    width: 100%;
    background-color: #FBF4F4;
    padding: 50px 0px 50px 0px;
}

.about .about-page {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 100px;
}

.about-left-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 60px 0px 0px 50px;
}

.about-title h1 {
    font: normal 400 70px/normal 'Qwigley';
}

.about-title h5 {
    font: normal 500 20px/normal 'Poppins';
    margin-left: 150px;
}

.about-description p {
    color: #1C1C1D;
    font-family: Poppins;
    font: normal 15px/normal 'Poppins';
    width: 137%;
    flex-shrink: 0;
    margin-top: 10px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.more-button a button {
    margin-top: 50px;
    padding: 5px 0;
    height: 50%;
    width: 25%;
    font: normal 400 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    background-color: #FBF4F4;
    border-radius: 30px;
}

.more-button a button {
    border-radius: 25px;
    border: 1px solid #000;
    background: #1C1C1D;
    font: normal 400 15px/normal 'Poppins';
    color: #FCF6F6;
}

.more-button a button:hover {
    background-color: #454548;
    color: #fcfcfc;
}

.about-right-content {
    height: 50%;
    width: 60%;
}

.about-right-content .image1 {
    width: 16%;
    height: 28%;
    z-index: 2;
    position: absolute;
    margin-left: 14%;
}

.about-right-content .image1 img {
    width: 140%;
    height: 215%;
    filter: brightness(70%);
}

.about-right-content .image2 {
    width: 37%;
    height: 25%;
    margin: 19% 0% 0% 60%;
    z-index: 1;
}

.about-right-content .image2 img {
    width: 100%;
    height: 400px;
    filter: brightness(70%);
}


/***CTA banner homepage****/

.call-to-attention {
    width: 100%;
}

.banner-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-image img {
    width: 100%;
    height: 540px;
    filter: brightness(50%);
}

.banner-content {
    position: absolute;
    align-items: center;
}

.banner-inner-content h1 {
    font: normal 400 100px/normal 'Qwigley';
    color: #FBF4F4;
    padding-top: 100px;
}

.banner-inner-content {
    align-items: center;
    align-content: center;
}

.CTA-button button {
    margin-top: 20px;
    margin-left: 39%;
    padding: 10px 0;
    height: 50%;
    width: 25%;
    font: normal 400 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    background-color: #FBF4F4;
    border-radius: 30px;
}

.CTA-button a button {
    border-radius: 25px;
    border: 1px solid #000;
    background: #1C1C1D;
    font: normal 400 15px/normal 'Poppins';
    color: #FCF6F6;
}

.CTA-button a button:hover {
    background-color: #454548;
    color: #fcfcfc;
}


/**** arrow up button****/

.going-back {
    width: 100%;
}

.arrow-up-button {
    position: fixed;
    bottom: 70px;
    right: 25px;
    background-color: #ccc;
    /* Gray background */
    border: none;
    cursor: pointer;
}

.back-to-top {
    border: 1px solid #000;
    background: #1C1C1D;
    border: none;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #000;
}

.arrow-up-button .back-to-top i {
    color: #fff;
    /* White color for the arrow icon */
    font-weight: 1100;
    font-size: 20px;
    /* Adjusted weight for the arrow icon */
}

.back-to-top:hover {
    background-color: #454548;
    color: #fcfcfc;
}

.back-to-top-hidden {
    display: none;
}


/****** Footer *******/

.footer-page {
    width: 100%;
    background-color: #FBF4F4;
    padding: 50px 10px 50px 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 90px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    width: 33%;
    padding: 15px 60px 0px 60px;
}

.footer-left-link {
    margin-top: 20px;
}

.footer-left-link li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-left-link li a {
    text-decoration: none;
    color: #1C1C1D;
    font: normal 500 14px/normal 'Poppins';
    line-height: 30px;
}

.footer-left-link li a:hover {
    color: #C2BE63;
}

.footer-left-link a:hover {
    color: #C2BE63;
    transition: all 0.3s;
}

.footer-center-content {
    padding: 30px 50px 50px 50px;
}

.vertical-line-left {
    border-left: 2px solid #000;
    height: 250px;
}

.footer-center h6 {
    font: normal 700 18px/normal 'Poppins';
    margin: 0px 20px 15px 265px;
}

.footer-center p {
    font: normal 700 18px/normal 'Poppins';
    color: #1C1C1D;
    font-family: Poppins;
    font: normal 15px/normal 'Poppins';
    width: 90%;
    flex-shrink: 0;
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 0px 0px 10px 40px;
}

.social-meadia-links h6 {
    font: normal 600 18px/normal 'Poppins';
    margin: 25px 0px 0px 285px;
}

.social-meadia-links .icons {
    display: flex;
    gap: 15px;
    cursor: pointer;
    margin: 10px 0px 0px 290px;
}

.social-meadia-links .icons a i {
    color: #1C1C1D;
    font-size: 140%;
    font-weight: bold;
}

.social-meadia-links .icons a i:hover {
    color: #454548;
}

.vertical-line-right {
    border-left: 2px solid #000;
    height: 250px;
}

.footer-logo {
    margin: 70px 50px 20px 60px;
}

.footer-logo img {
    width: 220px;
    height: 110px;
}

.container-credential {
    width: 100%;
    background-color: #1C1C1D;
}

.rights-definition {
    padding: 15px;
}

.rights-definition p {
    font: normal 14px/normal 'Poppins';
    color: #ccc;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* This will create 4 equal columns */
    grid-gap: 10px;
}

.grid-item {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.featured-project {
    grid-column: 1 / -1;
    /* This will make the "Featured Projects" item span across all columns */
}


/************** Portfolio Other Web Page *************/

.portfolio-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-page .coverpage {
    width: 100%;
}

.portfolio-page .cover-content {
    position: relative;
    width: 100%;
}

.portfolio-page .cover-content img {
    width: 100%;
    height: 500px;
    filter: brightness(50%);
}

.portfolio-page .text {
    align-content: center;
    margin-top: 6%;
}

.portfolio-page .text h2 {
    font: normal 500 90px/normal 'Qwigley';
    letter-spacing: 5px;
    color: #FCF6F6;
}


.first-row{
    display: flex;
    flex-direction: row;
}
.second-row{
    display: flex;
    flex-direction: row;
}


.featured_projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.grind-portfolio {
    flex: 1;
    max-width: 33.33%;
    padding: 0 4px;
    box-sizing: border-box;
    text-align: center;
    /* Center text */
    position: relative;
}

.grind-portfolio img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.grind-portfolio:nth-child(1),
.grind-portfolio:nth-child(2) {
    flex-basis: 50%;
    /* First two items take up half the space each */
}

.grind-portfolio:nth-child(3) {
    flex-basis: 100%;
    /* Third item takes up the full width */
}

.text-portfolio-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Change the text color to match your design */
}

@media (max-width: 500px) {
    .featured_projects .im {
        width: 100%;
    }
    .featured_projects .im {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .featured_projects .responsive-container-block.img {
        width: 100%;
    }
    .featured_projects .responsive-container-block.opt-cont {
        flex-direction: column;
    }
    .featured_projects .responsive-container-block.img.hidden {
        display: none;
    }
    .featured_projects .text-blk.info {
        font-size: 17px;
        line-height: 22px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .featured_projects .text-blk.title {
        font-size: 17px;
        line-height: 22px;
    }
    .featured_projects .text-blk.title {
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    .featured_projects .text-blk.info {
        font-size: 20px;
        line-height: 27.28px;
    }
    .featured_projects .text-blk.title {
        font-size: 20px;
        line-height: 27.28px;
    }
}


/*****Responsive*

@media screen and (max-width: 768px) {
	section {
		height: 100vh;
	}
}
****/


/* Services */

.servicetext {
    position: absolute;
    top: 40%;
    left: 24%;
    text-align: center;
    width: 52%;
    color: white;
    z-index: 1;
    /* Ensure text is above the carousel */
}

.servicetext h2 {
    font: normal 500 150px/normal 'Qwigley';
    letter-spacing: 3px;
}

.servicetext2 h2 {
    font: normal 500 50px/normal 'Poppins';
    letter-spacing: 3px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
}

.servicetext2 p {
    font: normal 500 20px/normal 'Poppins';
    letter-spacing: 3px;
    text-align: center;
}

.servicetable {
    width: 100%;
    background-color: #FBF4F4;
    padding: 70px 0px 50px 0px;
    text-align: center;
}

.table-container {
    left: 100px;
    width: 100%;
    height: 10%;
    background: #FBF4F4;
    padding: 100px;
    display: flex;
    align-items: center;
    box-shadow: #000;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    /* Box shadow style */
    /* Adjust the width as needed */
}

th,
td {
    background-color: #ffffff;
    padding: 45px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /* Border only at the bottom */
}

.features__tick::after {
    content: "\2714";
    font-size: 1.5em;
    color: green;
}

a {
    text-decoration: none;
    color: inherit;
    /* Use the color of the parent element */
}

.tdbutton {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    /* Control the smoothness of edges with border-radius */
    cursor: pointer;
    color: #000000;
    background-color: #ffe6e6;
}

.button:hover {
    background-color: #cac9c9;
    /* Change the background color on hover */
}

.colorblack {
    position: relative;
    background-color: rgb(229, 186, 44);
    height: 500px;
    width: 100%;
    margin-top: 100px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 1);
}


.half-box {
    width: 100px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    background-color: black;
}


/***event***/
.title_page{
    position: absolute;
    top: 15%;
    left: 24%;
    
}
.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 25%;
}
.event-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-card h3 {
    margin-top: 15px;
}

/*****events*****/
.event-banner {
    width: 100%;
    height: 530px;
    overflow: hidden;
}

.event-banner img {
    width: 100%;
    height: 180%;
    object-fit: cover;
    object-position: center;
}

.event-content {
    padding: 20px;
}
.book-now-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #28a794;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0 0 75rem;
}
.book-now-btn:hover {
    background-color: #04abed;
}
.ads-content {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
}